body {
  background-color: pink;
}

.first-col {
  background-color: #000;
  color: #fff;
}

.second-col {
  background-color: rgb(82, 82, 82);
  color: #fff;
}

.third-col {
  background-color: #fff;
  color: #000;
}
